<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  
    <a class="navbar-brand" href="/home">
      <img src="https://gateway.pinata.cloud/ipfs/QmVjpbdUx5Xn5KMHWmwqWVxjjKXPf7QoUcxfn4zKoeBoiG" width="50" height="50">
      Steafy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/equipe">Team</a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" routerLink="/Connection">Connexion</a>
          </li> 
      </ul>
    </div>
  </nav>
  