<app-header></app-header>

<router-outlet></router-outlet>

<button onclick="location.href = '/Score_moniteur';" type="button" class="btn btn-light btn-lg"
data-mdb-ripple-color="dark">Score Moniteur</button>

<button onclick="location.href = '/Client';" type="button" class="btn btn-light btn-lg"
data-mdb-ripple-color="dark">Client</button>

<button onclick="location.href = '/Calendrier';" type="button" class="btn btn-light btn-lg"
data-mdb-ripple-color="dark">Calendrier</button>

<app-footer></app-footer>
