<!doctype html>
<html lang="en">


    <body>
		<!-- Top content -->
		<div class="top-content">
			<div class="container py-5">
		
				<div class="row m-5">
					<div class="col-md-10 offset-md-1 text">
						<h1 class="wow fadeInLeftBig">Steafy, planifier n'a jamais été aussi simple !</h1>
						<div class="description wow fadeInLeftBig">
							<p>
								Vous êtes employeur et gérer les prises de poste des saisonniers est une réelle prise de tête ? 
								<br> Nous avons la solution pour vous simplifier la tâche !

							</p>
						</div>
						<a class="btn btn-primary btn-link-1" href="/Connection">Connection</a>
						<a class="btn btn-primary btn-link-2 scroll-link" href="/RegistrationForm">New connection</a>

					</div>
				</div>
		
			</div>            
		</div>
		
		<!-- Presentation -->
		<div class="services-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col services section-description wow fadeIn">
	                    <h2>Presentation</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-6 services-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="services-box-icon">
			                		<i class="fas fa-magic"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
								
	                    			<h3>Comment ça marche ?</h3>
									

	                    			<p>Renseignez l'emploi du temps des employés (fixe et jour de garde) : ces derniers seront appelés automatiquement en fonction de l'affluence des clients. </p>
	                    		
							</div>
	                    </div>
                    </div>

                    <div class="col-md-6 services-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-1">
			                	<div class="services-box-icon">
			                		<i class="fab fa-google"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
								
									<h3>Steafy, c'est quoi ?</h3>
									<p>
										Agenda simplifié, entièrement conçu pour les petites entreprises ayant des employés saisonniers : gestion de prise de poste, emploi du temps fixe, jour OFF et jour de garde...
										</p>
								
							</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>



        <!-- Services -->

		
        <div class="services-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col services section-description wow fadeIn">
	                    <h2>Nos services</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-4 services-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="services-box-icon">
			                		<i class="fas fa-magic"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
								<a href="/Score_moniteur">
	                    			<h3>Score moniteur</h3>
	                    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
	                    		</a>
							</div>
	                    </div>
                    </div>
                    <div class="col-md-4 services-box wow fadeInDown">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="services-box-icon">
			                		<i class="fas fa-cog"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
								<a href="/Client">
	                    			<h3>Client</h3>
	                    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
	                    		</a>
							</div>
	                    </div>
                    </div>
                    <div class="col-md-4 services-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="services-box-icon">
			                		<i class="fab fa-google"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
								<a href="/Calendrier">
									<h3>Calendrier</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
								</a>
							</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>


    </body>

</html>